@import url(https://db.onlinewebfonts.com/c/31d6999b03b69180254d0999127e1bc8?family=Unpack+W00+Fast);

@font-face {
  font-family: "Gopher Text";
  src: url("../fonts/GopherText-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Gopher Text";
  src: url("../fonts/GopherText-MediumItalic.ttf");
  font-style: oblique;
}

@font-face {
  font-family: "Gopher Text";
  src: url("../fonts/GopherText-Bold.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
  max-width: 800px;
  padding: 20px;
  width: 100%;
}

span {
  color: #fff;
  font-family: "Unpack W00 Fast";
  font-size: 35px;
  font-style: normal;
  text-shadow: -2.5px 2.5px 0px black;
}

footer {
  height: 100%;
  width: 100%;
}

.logo {
  display: flex;
  margin: 60px 0 20px;
}

.tabuleiro {
  align-items: center;
  background-image: url("../img/board-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 20px 50px;
  width: 100%;
}

.container {
  align-items: center;
  font-family: "Gopher Text";
  display: flex;
  padding: 10px;
}

.info {
  background-color: #eb6ca7;
  height: 70px;
  justify-content: space-evenly;
}

.copy {
  background-color: #081a4c;
  color: #ffffff;
  height: 50px;
  justify-content: center;
}

/* * Jogo */
.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto 50px;
  max-width: 800px;
  width: 100%;
}

.carta {
  aspect-ratio: 4/5;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 400ms ease;
  width: 100%;
}

.lado {
  background-position: center;
  background-size: cover;
  border: 3px solid #fff;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  transition: all 500ms ease;
  width: 100%;
}

.frente {
  transform: rotateY(180deg);
}

.verso {
  backface-visibility: hidden;
  background-image: url("../img/card-back.png");
}

.virar-carta {
  transform: rotateY(180deg);
}

.carta-desativada {
  align-items: center;
  display: flex;
  filter: saturate(0);
  opacity: 0.7;
}

/* ! Responsividade */

/* * 400px - 699px */
@media screen and (min-width: 400px) and (max-width: 699px) {
  .container {
    flex-direction: column;
  }
}

/* * 400px - 700px */
@media screen and (min-width: 400px) and (max-width: 700px) {
  footer {
    font-size: 12px;
  }

  .logo {
    margin: 40px 0 10px;
  }

  .tabuleiro {
    padding: 10px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* * 700px - 799px */
@media screen and (min-width: 700px) and (max-width: 799px) {
  .container {
    font-size: 13px;
    align-items: center;
  }

  .info {
    padding: 30px 0;
  }
}

/* * +700 */
@media screen and (min-width: 701px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
